@import 
url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

.roxo{
  color: purple;
}
.azul{
  color: blue;
}
.vermelho{
  color: red;
}
.cursiva{
  font-family: "Cedarville Cursive";
}
nav{
  background: white;
}
a{
  color:black;
  font-weight: bold;
}
article{
  border-bottom: 1px solid white;
}
td, th{
  border: 1px solid black;
}
footer{
  color:white;
  background: black;
  padding: 1px 0px 10px 0px;
  margin: 0px 0px 0px 0px;
  border-top:1px solid white;
  text-align: center;
}
header{
  border-bottom:1px solid white;
  color: white;
  background: black;
  text-align:center;
  margin: 10px 0px 0px 0px
}
td,th{
  border:1px solid white
}
 tr:nth-child(even) {
   color: white;
background-color: gray;
}
  tr:nth-child(odd){
    color: white;
    background-color: black;
  }
main{
  margin-right: 7.5%;
  margin-left: 7.5%;
  color: white
}
body{
  background-image: url("fundo.jpg.png");
  background-attachment: fixed;
  margin-right: 10px;
  margin-left: 10px;
}
.pagina02{
  color:white
}